Repository nembal/nextblog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nextblog/core-team, @nextblog/maintainers, @nextblog/developers, @nextblog/docs-team

Fix build errors and set up Vercel deployment
  .github/workflows/setup-vercel.yml
  .github/workflows/vercel-deploy.yml
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/blog/tags/[tag]/page.tsx
  package.json
  scripts/setup-vercel.js
  src/index.tsx
  tsconfig.json
Owners: @nextblog/maintainers, @nextblog/core-team, @nextblog/developers

vercel deploy fix
  .github/workflows/unused/README.md
  .github/workflows/unused/setup-vercel.yml
  .github/workflows/unused/setup-vercel.yml.bak
  .github/workflows/unused/vercel-deploy.yml
  next.config.js
Owners: @nextblog/maintainers, @nextblog/core-team

Initial commit from Create Next App
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Owners: @nextblog/core-team, @nextblog/docs-team, @nextblog/maintainers, @nextblog/developers

restarting the package
  .npmignore
  API.md
  LICENSE
  README.md
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  postcss.config.js
  postcss.config.mjs
  publish.sh
  src/app/about/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/not-found.tsx
  src/app/posts/[slug]/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/PostCard.tsx
  src/content/posts/getting-started-with-nextblogx.md
  src/content/posts/markdown-guide.md
  src/lib/api.ts
  src/lib/date-utils.ts
  tailwind.config.ts
Owners: @nextblog/core-team, @nextblog/docs-team, @nextblog/maintainers, @nextblog/developers

push coloring
  src/app/globals.css
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
Owners: @nextblog/developers

push small edits
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
Owners: @nextblog/developers

Add demo link to page.tsx and README.md
  README.md
Owners: @nextblog/docs-team

Bump version to 0.1.1
  package-lock.json
  package.json
Owners: @nextblog/core-team, @nextblog/maintainers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @nextblog/core-team

# Package configuration files
package.json @nextblog/maintainers
tsconfig*.json @nextblog/maintainers

# Source code
/src/ @nextblog/developers

# Documentation
/docs/ @nextblog/docs-team
*.md @nextblog/docs-team

# GitHub specific files
/.github/ @nextblog/maintainers
